<div class="row justify-content-center" *ngIf="singleBoquette">
    <div class="col-sm-10 bg-light rounded-3 p-4">
        <h1>{{ singleBoquette.name }}</h1>
    </div>

    <div class="col-sm-10 bg-light rounded-3 p-4 mt-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    Date de création : {{ singleBoquette.creationDate | date }}
                </div>
                <div class="col-sm-6">
                    Date de mise à jour : {{ singleBoquette.updateDate | date  }}
                </div>
            </div>
        </div>
        <div>
            <h3>Respo</h3>
            <p>{{ singleBoquette.respo }}</p>
        </div>
        <hr>
        <div>
            <h3>Description</h3>
            <p>{{ singleBoquette.description }}</p>
        </div>
        <hr>
        <div>
            <div class="container mx-0 px-0">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Rotance</h3>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <a class="btn btn-primary" routerLink="/rotance/create/{{ singleBoquette.getId() }}">Nouvelle rotance</a>
                    </div>
                </div>
            </div>
            <div class="mt-1">
                <ul *ngIf="rotanceList && rotanceList.length>0">
                    <app-rotance-single *ngFor="let r of rotanceList" [rotance]="r"></app-rotance-single>
                </ul>
                <p *ngIf="!rotanceList || rotanceList.length<1">Il n'y a pas de rotance pour l'instant</p>
            </div>
        </div>
        <div class="mt-1 d-flex justify-content-between">
            <div>
                <a class="btn btn-primary" routerLink="/boquette/edit/{{ singleBoquette.getId() }}">Editer</a>
                <a class="btn btn-secondary ms-1" routerLink="/boquette/list">Retour</a>
            </div>
            <div>
                <button class="btn btn-danger" (click)="onDelete()">Supprimer</button>
            </div>
        </div>
    </div>
</div>

<jw-modal class="" id="confirmation">
    <h1>Confirmation</h1>
    <p>Etes vous sur de vouloir supprimer la boquette {{ singleBoquette.name }}</p>
    <div class="container">
        <div class="row d-flex justify-content-end">
            <div class="col-sm-6 d-flex justify-content-end">
                <button class="btn btn-primary" (click)="closeModal('confirmation')">Retour</button>
                <button class="btn btn-danger ms-1" (click)="confirm()">OK</button>
            </div>
        </div>
    </div>
</jw-modal>