
<div class="row justify-content-center">
    <div class="col-sm-10 bg-light rounded-3 p-4">
        <h1>Erreur interne</h1>
    </div>

    <div class="col-sm-10 bg-light rounded-3 p-4 mt-1">
        <div>
            <p>
                Il semblerai que le serveur soit partie au foy'ss. 
                Soit tu peux essayer de le sortir de là, soit tu peux contacter un administrateur I-Resam.
                Dans tous les cas, on est désolé du problème et on travail pour que ca n'arrive plus.
            </p>
        </div>
    </div>
</div>