<li routerLink="/boquette/{{ boquette.getId() }}" class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <div class="fw-bold">{{ boquette.name }}</div>
        Respo : {{ boquette.respo }}
        <div> <!--Prochaine rotance-->
            <div *ngIf="nextRotance">
                Prochaine rotance : 
                <ul >
                    <app-rotance-single [rotance]="nextRotance" ></app-rotance-single>
                </ul>
            </div>
            <p *ngIf="!nextRotance">Pas de rotance prévu pour l'instant !</p>
        </div>
    </div>
</li>

