<div class="row justify-content-center" *ngIf="singleRotance">
    <div class="col-sm-10 bg-light rounded-3 p-4">
        <h1>Rotance du {{ singleRotance.date | date }}</h1>
    </div>

    <div class="col-sm-10 bg-light rounded-3 p-4 mt-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    Lieu : {{ singleRotance.lieu }}
                </div>
                <div class="col-sm-4">
                    Date : {{ singleRotance.date |date }}
                </div>
                <div class="col-sm-4">
                    Heure : {{ singleRotance.date | date}}
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col">
                    Commencer : {{ singleRotance.commencer }}
                    Fini : {{ singleRotance.fini }}
                </div>
            </div>
        </div>
        <div *ngIf="singleRotance.info && singleRotance.info.length>0">
            <h3>Info</h3>
            <p>{{ singleRotance.info }}</p>
        </div>
        <div class="mt-1 d-flex justify-content-between">
            <div>
                <a class="btn btn-primary" routerLink="/rotance/edit/{{ singleRotance.boquette.getId() }}/{{ singleRotance.getId() }}">Editer</a>
                <a class="btn btn-secondary ms-1" routerLink="/boquette/{{ singleRotance.boquette.getId() }}">Retour</a>
            </div>
            <div>
                <button class="btn btn-danger" (click)="onDelete()">Supprimer</button>
            </div>
        </div>
    </div>
</div>



<jw-modal class="" id="confirmation">
    <h1>Confirmation</h1>
    <p>Etes vous sur de vouloir supprimer la rotance du  {{ singleRotance.date | date }}</p>
    <div class="container">
        <div class="row d-flex justify-content-end">
            <div class="col-sm-6 d-flex justify-content-end">
                <button class="btn btn-primary" (click)="onCancel()">Retour</button>
                <button class="btn btn-danger ms-1" (click)="onConfirm()">OK</button>
            </div>
        </div>
    </div>
</jw-modal>
